packages: 
  yum:
    gcc-c++: []
    make: []
    git: []
commands:
  get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  node_source:
    command: curl -sL https://rpm.nodesource.com/setup_10.x | sudo bash -
  npm_install:
    command: sudo yum install -y nodejs
  npm_install_bower:
    command: sudo npm install -g bower
container_commands:
  bower_install:
    command: sudo bower install --allow-root