packages: 
  yum:
    gcc-c++: []
    git: []
commands:
    npm_install:
        command: sudo yum -y --enablerepo=epel install nodejs npm
    npm_setting:
        command: npm config set registry http://registry.npmjs.org/  
    npm_install_bower:
        command: sudo npm install -g bower
container_commands:
  bower_install:
    command: sudo bower install --allow-root