packages: 
  yum:
    git: []
commands:
  get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  npm_install:
    command: sudo yum install -y nodejs
  npm_install_bower:
    command: sudo npm install -g bower
container_commands:
  bower_install:
    command: sudo bower install --allow-root